## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [1]:
!python -V

Python 3.8.12

In [4]:
# 표현식
print(273)
10+20+30

273

60

In [6]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52, 'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [7]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

In [12]:
# python keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


35

식별자 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_) 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

https://bibi6666667.tistory.com/277  
파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist     item_list     ItemList
- loginstatus  login_status  LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [13]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다.')

3이 있습니다.

In [14]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [15]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b  # 나머지
g = a // b # 몫
h = 2 ** 3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [16]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [21]:
a = 10
a = "문자"
a = 100
type(a)

int

In [22]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [24]:
num = 100
num *= 10
num -= 990
num

10

In [25]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요

'안녕하세요'

In [26]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 10
10

str

In [27]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)

숫자를 입력하세요5
숫자를 입력하세요5
55

In [28]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [ ]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

In [31]:
# A.
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)
# print(num1 + num2)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 
# 자료형으로 변환하세요.

In [32]:
# A.
a = 52
b = 52.273
print(str(a) + str(b))

5252.273

In [34]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [35]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [36]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [37]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y3 = """nce you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
nce you study data analysis
You need Python

In [39]:
# string = '''"What a wonderful world!"\n he said loudly'''
string = '''"What a wonderful world!"
he said loudly'''
print(string)

"What a wonderful world!"
he said loudly

In [40]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [42]:
# 자료형 - List 
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [43]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[:]
list3[2]
list3[3][4]
list3[4][1]

'b'

In [46]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [48]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
c = a + b
print(c)
c[-1] = 1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [49]:
c[-2] = 2
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 2, 1]

In [53]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [54]:
# 정렬 ,내림차순으로 변환
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

s.sort()
print(s)
s_d = sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [55]:
# 인덱스 위치 반환
c = [1,2,3,1,5]
print(c.index(3))

2

In [57]:
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
c.index(65)

[46, 31, 35, 91, 99, 94, 78, 69, 69, 63, 33, 57, 85, 12, 84, 1, 64, 71, 80, 50, 31, 59, 0, 38, 8, 42, 20, 87, 22, 0, 26, 15, 10, 91, 49, 50, 90, 5, 42, 45, 82, 68, 99, 6, 48, 59, 78, 31, 75, 14, 2, 29, 97, 9, 1, 23, 2, 94, 70, 38, 52, 58, 93, 84, 3, 15, 71, 15, 76, 80, 11, 61, 70, 42, 36, 46, 24, 60, 22, 94, 93, 32, 50, 36, 6, 47, 93, 33, 65, 19, 23, 62, 13, 91, 88, 62, 74, 17, 61, 86]

88

In [59]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(5))

2

In [69]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(10,7)
print(h)
len(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

8

In [64]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[2]
tuple3[3][4]
tuple3[4][1]

'b'

In [65]:
print(list1)
list1[0] = 6
print(list1)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [66]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [67]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [71]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [72]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [74]:
c1 = {'삼각김밥':700, '컵라면':1500, '감동란':2500}
print(c1.keys())
c1['삼각김밥'] = 1000
print(c1.values())
print(c1.items())

dict_keys(['삼각김밥', '컵라면', '감동란'])
dict_values([1000, 1500, 2500])
dict_items([('삼각김밥', 1000), ('컵라면', 1500), ('감동란', 2500)])

In [75]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'l', 'e', 'o'}

In [76]:
# 집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
l

In [77]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [79]:
# 들여쓰기
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [81]:
# 문자열 포멧

name = '홍길순'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길순입니다. 나이는 20입니다.'

In [82]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [84]:
y = 3.42134234
f'{y:0.4f}'  # 소수점 4자리까지만 표현

'3.4213'

In [87]:
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [88]:
# 포멧함수
f1 = "{} 선수가 {}등입니다.".format('홍길동',1)
# f1 = "{1} 선수가 {0}등입니다.".format(1,'홍길동')
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [ ]:
파이썬은 자바보다 2배 쉽습니다.

In [89]:
f1="{}은 {}보다 {}배 쉽습니다".format("파이썬","자바",2)
print(f1)
print("%s은 %s보다 %d배 쉅습니다."%("파이썬","자바",2))

파이썬은 자바보다 2배 쉽습니다
파이썬은 자바보다 2배 쉅습니다.

In [4]:
# [과제] 아래와 같이 출력하세요.

12345
     12345
12.345679
          12.346

In [110]:
# 제어문 - if~elif~else
# "수입과 지출금액을 비교해서 수입이 많은면 저축 증가, 반대이면 빚이 증가, 
# 같으면 현상 유지"
i = 5,000,000
e = 3,000,000

if i > e:
    print('저축 증가')
elif i < e:
    print('빛이 증가')
else:
    print('현상 유지')

저축 증가

In [5]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number,end=' ')

5 15 6 20 7 25

In [ ]:
# 5를 2로 나누었을때의 몫과 나머지를 구하세요.

In [ ]:
# 101의 3승을 구하세요

In [ ]:
# Python과 3.8.3을 합쳐서 Python 3.8.3으로 출력하세요

In [ ]:
# a = 5 a = '10' a = 15일때 a의 자료형은 무엇인가?

In [ ]:
# 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요.

In [ ]:
# 이름을 물어보고 답하는 내용을 출력하세요

In [8]:
# 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때 
# 몫을 구하세요.
a = input('첫번째 숫자를 입력: ')
int_a = int(a)
b = input('두번째 숫자를 입력: ')
int_b = int(b)
c = input('세번째 숫자를 입력: ')
int_c = int(c)
print(int_a ** int_b / int_c)

첫번째 숫자를 입력: 3
두번째 숫자를 입력: 7
세번째 숫자를 입력: 9
243.0

In [ ]:
# 1부터 5까지 입력해서 12345를 출력하세요

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 
# 리스트로 출력하세요

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']에서 'c'를 삭제 후 출력하세요.

In [ ]:
# [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]를 내림차순으로 정렬하세요

In [ ]:
# Q. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
# 원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

Q. 계절 구분 프로그램
<!--  - 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램 -->
 - 각 계절별 출력 멘트는 계절에 맞게 창작
 - if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [10]:
import datetime
t = datetime.datetime.now()
t.month

6

In [11]:
# A.
import datetime
t = datetime.datetime.now()
if 3<= t.month <= 5:
    print("현재의 계절은 봄입니다!!!")
if 6<= t.month <= 8:
    print("현재의 계절은 여름입니다!!!")
if 9<= t.month <= 11:
    print("현재의 계절은 가을입니다!!!")
if 1<= t.month <= 2 or t.month == 12:
    print("현재의 계절은 겨울입니다!!!")

현재의 계절은 여름입니다!!!

In [14]:
import datetime
now = datetime.datetime.now()
print(now.year,"년")
print(now.month,"월")
print(now.day,"일")
print(now.hour,"시")
print(now.minute,"분")
print(now.second,"초")

2021 년
6 월
23 일
10 시
20 분
22 초

In [18]:
# 제어문 - for~continue~break
# 1 ~ 10 범위의 정수에서 1부터 5까지만 출력하세요"
for i in range(1,11):
    print(i,end=' ')
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

In [20]:
for i in range(1, 11):
    if i <= 5:
        print(i, end=' ')

1 2 3 4 5

In [22]:
for i in range(1,11):
    print(i,end=' ')
    if i > 4:
        break

1 2 3 4 5

In [23]:
# Q. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수) 
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if number < 15:
        continue
    else:
        print(number,end=' ')

15 20 25

In [36]:
# 제어문 - while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요.
x = 1
sum = 0
while 1:
    sum += x
#     x = x + 1
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

In [37]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.
sum = 0
i = 1
while i < 1001:
    if i % 3 == 0:
        sum += i
    i += 1
print(sum)

166833

In [ ]:
# 과제
# Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요.

In [40]:
# Q. while~continue~break문을 사용해 1부터 100까지의 정수중 5에서 95까지의 
# 합을 구하세요.

sum = 0
x = 1
while x < 101:
    x += 1
    if x < 5:
        continue
    sum += x
    if x > 94:
        break
print(sum)

4550

In [41]:
# 1 ~ 100 합
# 1~4 합
# 96~100 합

sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [42]:
sum = 0
for i in range(1,5):
    sum += i
print(sum)

10

In [43]:
sum = 0
for i in range(96,101):
    sum += i
print(sum)

490

In [45]:
# 1~100합
# 1 ~4 합
 # 96 ` 100 합
    
sum1 = 0
sum2 = 0
sum3 = 0

for i in range(1,101):
    sum1 += i
    
for i in range(1,5):
    sum2 += i
    
for i in range(96,101) :
    sum3 += i
    
    
print(sum1 - sum2-sum3)

4550

In [47]:
# Q. 람다 함수를 이용해서 a의 b제곱을 구하는 식을 만들고
# a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
# a = 2, b = 5
# a= 5, b = 2

x = lambda a, b : a ** b
print(x(2,5))
print(x(5,2))

32
25

In [48]:
a = 2;b = 3;c = 5
a * b - c

1

In [49]:
x = lambda a,b,c:a*b-c
x(2,3,5)

1

In [50]:
# Q. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)
a, b = 97,40
# a = 97;b=40;
divmod(a,b)

(2, 17)

In [52]:
def add_10(a):
    return a + 10

add_10(100)

110

In [53]:
# Q. 사용자 함수 사용해서 작성
# x = lambda a,b,c:a*b-c
# x(2,3,5)

def cal_3(a,b,c):
    return a*b-c

cal_3(2,3,5)

1

In [ ]:
# 과제
# Q. 사용자 함수를 최대한 가치있게 만들어 보세요.

In [55]:
import datetime
now = datetime.datetime.now()
def JH(a,b):
    if a % b == 2or a% b == 1:
        print('굿굿')
    else:
        print('떙')

JH(now.minute,now.second)
print(now.minute)
print(now.second)

떙
41
43

In [56]:
def att_rate():
    days = int(input("전체 수업일수를 입력하세요: "))
    absent = int(input("결석일수를 입력하세요: "))
    late = int(input("지각 횟수를 입력하세요: "))
    out = int(input("외출 횟수를 입력하세요: "))
    early = int(input("조퇴 횟수를 입력하세요: "))
    absent += (late+out+early)//3
    att_r = (days-absent)*100/(days)
    if 0 <= att_r <= 100:
        print("출석률은 {:.2f}%입니다.".format(att_r))
att_rate()

전체 수업일수를 입력하세요: 960
결석일수를 입력하세요: 0
지각 횟수를 입력하세요: 0
외출 횟수를 입력하세요: 3
조퇴 횟수를 입력하세요: 2
출석률은 99.90%입니다.

In [57]:
# Q 현재 시각을 오전과 오후를 구분하는 프로그램을 작성하세요.
# A.
t = datetime.datetime.now()
if t.hour < 12:
    print("현재 시각은 오전 {}시로 오전입니다.".format(t.hour))
else:
    print("현재 시각은 오후 {}시로 오후입니다.".format(t.hour))

현재 시각은 오후 12시로 오후입니다.

In [ ]:
# Q 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

In [60]:
number = int(input("정수를 입력해주세요> "))
# number = int(number)

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

정수를 입력해주세요> 2
짝수

In [ ]:
# Q. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 
# 구하는 프로그램을 수행하세요.

In [61]:
# A.
num1 = input("정수 입력> ")
n1 = int(num1)
num2 = input("정수 입력> ")
n2 = int(num2)
if n1 > n2:
    print(n1)
else:
    print(n2)

정수 입력> 3
정수 입력> 5
5

In [63]:
a = int(input())
b = int(input())

if a > b:
    print("첫번째")
elif a < b:
    print("두번째")
else:
    print("잘못 입력했습니다. 서로 다른 숫자를 입력해 주세요")

7
7
잘못 입력했습니다. 서로 다른 숫자를 입력해 주세요

In [ ]:
# Q. 1 ~ 20사이의 정수에서 3의 배수만 출력하세요.

In [ ]:
# Q. 1 ~ 100 범위의 정수에서 95보다 큰 정수만 출력하세요

In [64]:
import numpy as np
np.random.seed(0)
num = np.random.randint(10, size=10)
num

array([5, 0, 3, 3, 7, 9, 3, 5, 2, 4])

In [ ]:
# Q. [5, 0, 3, 3, 7, 9, 3, 5, 2, 4]에서 7,9만 출력하세요.

In [ ]:
# Q. [5, 0, 3, 3, 7, 9, 3, 5, 2, 4]에서 0,9만 출력하세요.

In [65]:
num = np.arange(20).tolist()
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Q. num에서 10,11,12만 출력하세요

In [ ]:
# Q. 500 ~ 1000 사이의 정수 중 3과 5의 공배수의 합을 구하세요.

In [ ]:
# Q. 1 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [ ]:
# Q. 1 ~ 100사이의 정수 중 3와 4의 공배수를 리스트로 구하세요.

In [ ]:
# Q. 3~7사이의 정수의 곱을 구하세요.

In [ ]:
# Q. 2,3을 더한 후 5를 곱하는 계산 값을 람다함수를 이용하여 구하세요.

In [ ]:
# Q. 2와 5를 더한 후 3으로 나눈 나머지 값을 사용자 함수를 이용하여 구하세요.

In [66]:
input_a = """
                       It is true
'Python is fit for data analysis'
"""
print(input_a)

                       It is true
'Python is fit for data analysis'

In [ ]:
# Q. 문자열 앞의 공백을 제거하고 아래와 같이 출력하세요(구글링)
# It is true
# 'Python is fit for data analysis'

In [ ]:
# Q. "10/20/30/40/50"을 '/'를 기준으로 구분하여 아래와 같이 출력하세요.
# ['10', '20', '30', '40', '50']

In [67]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2021, 6, 23, 14, 41, 4, 689389)

In [ ]:
# Q. 현재의 날씨와 시간을 다음과 같이 포멧으로 표현하세요
# 2021년 6월 23일 09시 01분 01초

In [ ]:
# Q. 짝수 와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 
# 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [ ]:
# Q. 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.
1*99, 2*98 ...99*1

In [ ]:
# Q. [    ]을 채워서 아래의 출력과 같이 출력하세요.
# 출력 :
# [[1,4,7],[2,5,8],[3,6,9]]

numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[           ].append(number)
print(output)

## Q. 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성